/* Cuurent Google Font link Used HTML: <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">   ;  Cuurent CSS used for google font: font-family: 'Gugi', cursive; */

/* Unviversal Selectors: */

* {
  background-color: #817CA7;
}

/* Header Selectors: */

header{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 30px;
}

header img{
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  border-radius: 10px;
}

header ul {
  margin-top: 15px;

}

header li {
  display: block;
  margin: 10px 3px 5px 10px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

nav a {
  text-decoration: none;
  color: black;

}

nav a:hover{
  color: coral;
}

/* Main Selectors:  */

h1 {
  display: flex;
  text-shadow: whitesmoke;
  justify-content: center;
  font-size: 3em;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  text-decoration: whitesmoke;
}

#tutorial p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
}
/* Form Selectors: */
#legend {
  margin-bottom: 8em;
}
#budget-form {
  position: relative;
  font-family: "Inter", sans-serif;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

::placeholder {
  font-family: "Inter", sans-serif;
  color: silver;
  opacity: 1;
  font-size: 20px;
}


#form-tag fieldset {
  font-size: 30px;
  width: 600px;
  border-radius: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #FB6376;
  border-radius: 10px;
  text-align: center;
}

input:hover {
  background-color: coral;
  opacity: 0.5;

}

input:focus {
  background-color: coral;
  opacity: 0.3;
}

button {
  margin-left: 30px;
  background-color: #111;
  display: inline-block;
  color: #aaa;
  padding: 30px 70px;
  margin-top: 30px;
  margin-bottom: 20%;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
button:hover {
  background-color: coral;
  transition: 350ms;
  color: black;
  border-radius: 8px;
  opacity: 0.8;
}

/* About Us Page Selectors: */

#about {
display: flex;
justify-content: center;
margin-top: 2em;
margin-left: 30px;
margin-right: 30px;

}

#about h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
  

}

#about, #LinkedIn {
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  justify-content: center;
  padding: 5px;
  
}

#about #zach {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin: 10px;
 
}

#about #kevin {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin: 10px;
 
}

#about #josh {
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin: 10px;
}

#about  {
  height: 50;
}

#about p {
  padding: 5px;
}
/* Graph page selectors */
#graph #myChart {
  
  width: 1500;
  height: 1500; 
  display: block; 
  box-sizing: border-box; 
  height: 619px; 
  width: 619px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  padding: 50px;
}

/* Resources Page Selectors */
#resources {
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-left: 30px;
  margin-right: 30px;
  
  }
  
#resources h2 {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
  }

#resources div {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: center;
  }

#resources div.iframe {
  justify-items: center;
}

#resources p {
  font-family: "Inter", sans-serif;
  margin: 20px;
  display: block;
  text-align: center;
}
/* Footer Selectors:  */

footer {
  margin-top: 30%;
}

/* footer #text {
  padding: 1px;


} */

#graph>div {
  display: flex;
  align-items: center;
};

table {
  margin: auto;
}
